<h1> Pictures</h1>
<h3> Click on picture to more details </h3>
<%#= render 'information' %>

 <% picture(@pictures)/100000%> 
     <%#=g=5000-p%>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>File</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    
    <% @pictures.each do |picture| %>
    <tr>
     <td><%=link_to image_tag(picture.file_url(:thumb)),{:controller =>"pictures",:action =>"show", :id=>picture.id} %></td>
     <td><%= picture.title %></td>
    <td><%= picture.description %></td>
    <%#= link_to image_tag(home.avatar.url(:thumb)),
    {:controller=>"homes",:action=>"show",:id=>home.id} %> 
    <td><%#= link_to 'Show', picture %></td>
    <td><%#= link_to 'Edit', edit_picture_path(picture) %></td>
    <td><%#= button_to "delete",picture, :method=>:delete, :class=>:destroy %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New Picture', new_picture_path %>

